# будут игнорироваться находящиеся в подкаталоге tmp
tmp/
# будут игнорироваться заканчивающиеся суффиксами _old
*_old
# будут игнорироваться заканчивающиеся суффиксами _backup
*_backup
# будут игнорироваться файлы Thumbs.db
Thumbs.db
# будут игнорироваться файлы .DS_Store
.DS_Store